<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to PetFax</h1>
    {% for pet in pets %}
        <h2>{{ pet.pet_name }}</h2>
        <img src="{{ pet.pet_photo }}" alt="Photo of pet"/>
        <a href="/pets/{{ pet.pet_id }}">Learn More ></a>
    {% endfor %}
    <h4> 
        We'd love to hear some more fun facts.
        <a href="/facts/new">Submit some here</a>
    </h4>
</body>
</body>
</html>