<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Submit Fax!
    </h1>
    <p>
        If you have some animal facts you'd like to share, please submit them. We may use them in the future.
    </p>
    <h3>
        Name
    </h3>
    <input type="text">
    <h3>
        Fax
    </h3>
    <input type="text">
    <button>Submit the fact</button>
    <h5>
        <a href="/pets">Go back</a>
    </h5>
</body>
</html>